@import url("./assets/css/style.css");

.css-1r4vtzz,.css-48ayfv{
    height: auto !important;
    width: 100% !important;
    padding: 10px 0px 10px 15px !important;
    border: 2px solid #ededed !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    /* display: inline-block !important; */
}
